// Variables
//

// Fonts
$fn-base: 'Roboto Mono', monospace;

// Colors
$cl-white: #fff;
$cl-black: #000;
$cl-primary: #e97b2c;
$cl-secondary: lighten($cl-primary, 20%);

$cl-foreground: #232326;
$cl-foreground-inverted: #f4f4f4;

$cl-background: #e9e9e9;
